
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px;
  margin-left: 95px;
  
}
a:visited{
  text-decoration: none;
  color: inherit;
}
.loading{
  margin: 50px;
  text-align: center;
  min-height: 80vh;
}

#carousel-container{
  width: 90vw;
}

#carousel-container img{
  height: 360px;
  object-fit: cover;
}

.label-text-box{
  max-width: 100px;
  min-width: 100px;
}

.image-square-large{
  width: 200px;
  height: 200px;
}

.image-square-medium{
  width: 125px;
  height: 125px;
}

.image-square-small{
  width: 50px;
  height: 50px;
}

.image-cover{
  object-fit: cover;
}

.status-pill{
  padding: 0.5rem 1rem;
}
