
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px;
  margin-left: 95px;
  
}
a:visited{
  text-decoration: none;
  color: inherit;
}
.loading{
  margin: 50px;
  text-align: center;
}

#carousel-container{
  width: 90vw;
}

#carousel-container img{
  height: 360px;
  object-fit: cover;
}
