
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background-color: #f5f5f5;
}
.content{
  overflow-x: hidden
}
.left-indent{
  margin-left: 95px;
}
a:visited{
  text-decoration: none;
  color: inherit;
}
.loading{
  margin: 50px;
  text-align: center;
  min-height: 80vh;
}

#carousel-container{
  width: 90vw;
}

#carousel-container img{
  height: 360px;
  object-fit: cover;
}

.label-text-box{
  max-width: 100px;
  min-width: 100px;
}

.image-square-large{
  width: 200px;
  height: 200px;
}

.image-square-medium{
  width: 125px;
  height: 125px;
}

.image-square-small{
  width: 50px;
  height: 50px;
}

.image-cover{
  object-fit: cover;
}

.status-pill{
  padding: 0.5rem 1rem;
}

.full-width{
  width: 160vh;
}
.min-height{
  min-height: 50vh;
}
.fix-height{
 height: 50vh;
}
.switch-container {
  display: flex;
  align-items: center;
}

.switch-container .form-check-input {
  width: 5rem;
  height: 2.5rem; /* Adjust height as needed */
  margin-right: 0.5rem; /* Adjust margin as needed */
}

.switch-container .btn {
  margin-right: 0.5rem; /* Adjust margin as needed */
}
