.nav{
    top : 64;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    position: fixed;
    color: hsl(48, 44%, 87%);
}
.nav.expanded .icon {
    float : right;
}
.bottom-menu {
    position: fixed;
    bottom: 0;
}
  